/* Dark stylesheet, based on the work of Maria Osipenko (Мария Осипенко) */

html {
    color: #bbb;
    background-color: #333;
}

a {
    color: #abb8af;
}

a:hover {
    background-color: #444;
}

.cal {
    border: 0px solid #ccc;
}

.cal th {
    color: #ccc;
}

.cal th a {
    color: #bb0000;
}

.cal td {
    border: 1px solid #fff;
}

.cal a,
.openedlist a,
.clsdlist a {
    color: #ccc;
}

.cal .day {
    color: #999;
}

.today {
    background-color: #444;
}

.holiday {
    background-color: #272727;
}

.num {
    color: #bb5555;
}

.project_name {
    color: #999;
}

.closed, .closed a {
    color: #999;
}

#contents ul {
    background-color: #333;
    border: 1px solid #ccc;
}

.tothetop {
    border-bottom-color: #ccc;
}

.tothetop a {
    color: #ccc;
}

.delayed {
    background-color: #674747;
}
