<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="ru-ru" />
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/static/dark.css">

    <title>Trac Aggregator</title>
</head>

<body>
    <div id="contents">
        {% for name, login in devs %}
        <p><a href="#{{ login }}">{{ name }}</a></p>
        {% endfor %}
    </div>
    {% for name, login in devs %}
    {% set usertckts = month_data.pop(login, {}) %}
    <h3 id="{{ login }}">{{ name }}</h3>
    <table class="cal">
        {% for week in calendar %}
        <tr>
            {% for day in week %}
            {% set daystr = daytmpl % day %}
            <td>
                {{ day or '' }}<br />
                {% for ticket in usertckts.pop(daystr, ()) %}
                    <p>
                    <a href="{{ ticket.base_url }}/ticket/{{ ticket.id }}">
                            {{ ticket.trac }}#{{ ticket.id }}: {{ ticket.summary }}</a>
                    </p>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {# for ticket in month_data.pop(login, []) %}
        <p>{{ ticket.trac }}: {{ ticket.id }}</p>
        {% endfor #}
    </table>
    <div class="tcktlist">
        Lists of open / recently closed tickets
    </div>
    {% endfor %}
</body>
</html>
{# vim: filetype=htmljinja
#}

