<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="ru-ru" />
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/static/base.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/static/{{ stylesheet }}.css" />

    <title>Trac Aggregator</title>
</head>

<body>
    <div id="tglcss">
        <a href="/toggle-css/">{{ other_ssheet }}</a>
    </div>
    <div id="contents">
        <span>Оглавление</span>
        <ul>
        {% for login, name in devs %}
        <li><a href="#{{ login }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% for login, name in devs %}
    {% set usertckts = month_data.pop(login, {}) %}
    <h2 id="{{ login }}">{{ name }}</h2>
    <h3>
        <a href="/{{ '%02d' | format(prev_month) }}/{{ prev_year }}#{{ login }}">◄</a>
        {{ month_name }}
        <a href="/{{ '%02d' | format(next_month) }}/{{ next_year }}#{{ login }}">►</a>
    </h3>
    <table class="cal">
        <tr>
            {% for wday in weekhdr %}<th>{{ wday }}</th>{% endfor %}
        </tr>
        {% for week in calendar %}
        <tr>
            {% for day in week %}
            {% set daystr = daytmpl % day %}
            <td
                {%- if today == day %} class="today"
                {%- elif loop.index > 5 %} class="holiday"{% endif %}>
                <span class="day">{{ day or '' }}</span>
                {% for trac, tickets in usertckts.pop(daystr, {}).items() %}
                    <span class="project_name">{{ trac }}</span>
                    {% for ticket in tickets %}
                    <p class="{{ ticket.status }}">
                    <a href="{{ ticket.base_url }}/ticket/{{ ticket.id }}"
                        title="{{ ticket.title }}">
                        <span class="num">#{{ ticket.id }}</span>:
                        {{ ticket.summary }}</a>
                    </p>
                    {% endfor %}
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div class="openedlist">
        <h4>Opened tickets</h4>
        {% for trac, tickets in opened.pop(login, {}).items() %}
            <span class="project_name">{{ trac }}</span>
            <ul>
            {% for ticket in tickets %}
                <li>
                <a href="{{ ticket.base_url }}/ticket/{{ ticket.id }}"
                   title="{{ ticket.title }}">
                        <span class="num">#{{ ticket.id }}</span>:
                        {{ ticket.summary }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="clsdlist">
        <h4>Recently closed tickets</h4>
        {% for trac, tickets in closed.pop(login, {}).items() %}
            <span class="project_name">{{ trac }}</span>
            <ul>
            {% for ticket in tickets %}
                <li>
                    <a href="{{ ticket.base_url }}/ticket/{{ ticket.id }}"
                        title="{{ ticket.title }}">
                        <span class="num">#{{ ticket.id }}</span>:
                        {{ ticket.summary }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="tothetop">
        <a href="#contents">Вернуться к началу страницы ↑</a>
    </div>
    {% endfor %}
</body>
</html>
{# vim: filetype=htmljinja
#}

